<ion-content class="ion-padding game" [fullscreen]="true">
  <section class="game__center">
    <ion-grid>
      <ion-row>
        <ion-col size="7">
          <span class="game__points">{{points}}</span>
          <span class="game__points-scored"></span>
        </ion-col>
        <ion-col size="5">
          <ion-button (click)="newGame()"
            >{{"label.new.game" | translate}}</ion-button
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-grid class="game__board" #gameBoard>
            <ion-row *ngFor="let row of rows">
              <ion-col
                *ngFor="let col of cols"
                [attr.id]="row+''+col"
                [ngClass]="{'grid-cell': !board[row][col] }"
                [class]="board[row][col] ? 'number-' + board[row][col].value : ''"
              >
                {{board[row][col] ? board[row][col].value : ''}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
</ion-content>
